html{scroll-behavior: smooth;}

body{
	margin: 0;
	padding: 0;
	border: 0;
}

a{
    color: #333;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

a:hover,
a:active{
    text-decoration: none;
    cursor: pointer;
}

/* clearfix */
.clearfix:after {
	content: "";
	display: block;
	clear: both;
}

.header{
    position: fixed;
    width: 100%;
    height: 60px;
    border-bottom: 2px solid rgb(212, 212, 212);
    background-color: white;
    z-index: 903;
	padding: 0;
	margin: 0;
}

.header_icon{
    width:140px;
    top: 17px;
    left: 17px;
    position: fixed;
	padding: 0;
    margin: 0;
    z-index: 904;
}

.justbackground{
	position: fixed;
	width: 100%;
	height: 60px;
	background-color: white;
	z-index: 902;
}

/*　ハンバーガーボタン　*/
.hamburger {
	display : block;
	position: fixed;
	z-index : 903;
	right : 13px;
	top   : 12px;
	width : 42px;
	height: 42px;
	cursor: pointer;
	text-align: center;
}
.hamburger span {
	display : block;
	position: absolute;
	width   : 30px;
	height  : 2px ;
	left    : 6px;
	background : #555;
	-webkit-transition: 0.3s ease-in-out;
	-moz-transition   : 0.3s ease-in-out;
	transition        : 0.3s ease-in-out;
}
.hamburger span:nth-child(1) {
	top: 10px;
}
.hamburger span:nth-child(2) {
	top: 20px;
}
.hamburger span:nth-child(3) {
	top: 30px;
}

/* ナビ開いてる時のボタン */
.hamburger.active span:nth-child(1) {
	top : 16px;
	left: 6px;
	-webkit-transform: rotate(-45deg);
	-moz-transform   : rotate(-45deg);
	transform        : rotate(-45deg);
}

.hamburger.active span:nth-child(2),
.hamburger.active span:nth-child(3) {
	top: 16px;
	-webkit-transform: rotate(45deg);
	-moz-transform   : rotate(45deg);
	transform        : rotate(45deg);
}


nav.hamburger_list {
	margin: 0;
	padding: 0;
	border: 0;
	position: fixed;
	z-index : 901;
	top  : 60px;
	left : 0;
	color: #000;
	background: white;
	text-align: left;
	transform: translateY(-150%);
	transition: all 0.6s;
	width: 100%;
	height: 160px;
}
  
/* このクラスを、jQueryで付与・削除する */
nav.hamburger_list.active {
	transform: translateY(0%);
}

nav.hamburger_list h1{
	font-family: 'Hind', sans-serif;
	font-size: 15px;
	padding: 0 24px;
	line-height: 25px;
	letter-spacing: 1.7px;
}

nav.hamburger_list a{
	text-decoration: none;
	color: black;
}

.title{
	text-align: center;
	width: 240px;
	margin: 0 auto;
	padding: 50px 0 10px;
}

.mokuji{
	width: 90%;
	height: 80px;
	margin: 20px auto 0px;
	padding: 0;
	text-align: center;
}

#grade{
	width: 20%;
	text-align: center;
	margin: 0;
	padding: 0;
	display: inline-block;
}

#grade p{
	width: 9vw;
	height: 9vw;
	margin: 5px auto 5px;
	padding: 0;
	border-radius: 4.5vw;
}

#grade h2{
	text-align: center;
	font-size: 14px;
	padding: 3px 0; 
	margin:  0 auto ;
	font-family:'Noto Sans JP',sans-serif;
	font-weight: 600;
	letter-spacing: 1.2px;
}

.kouiti{ 
	background-color: #F1EF64;
}

.kouni{
	background-color: #FF6B60;
}

.kousan{
	background-color: #185F8D;
}

.buten{
	background-color: #8CB5D8;
}

.reload{
	padding-right: 5vw;
	padding-bottom: 10px;
	width: 30px;
	height: 30px;
	float: right;
}

.signage{
	text-align: center;
	width: 90%;
	margin: 0 5%;
	padding: 60px 0 0;
}

#hr{
	width: 90%;
	margin: 35px auto;
	padding:0;
	font-family: 'Noto Sans JP', sans-serif;
	position: relative;
}

#hr img{
	width: 100%;
}

#hr h2{
	position: absolute;
	top: 15px;
	left: 15px;
	color: white;
	font-size: 14px;
	font-weight: bold;
	line-height: 100%;
	letter-spacing: 0.095em;
	padding: 0;
	margin: 0;
}

#hr h1{
	position: absolute;
	top: 38px;
	left: 15px;
	color: white;
	font-size: 20px;
	font-weight: bold;
	line-height: 100%;
	letter-spacing: 0.095em;
	padding: 0;
	margin: 0;
}

#hr h3{
	position: absolute;
	bottom: 26px;
	right: 16px;
	color: white;
	font-size: 54px;
	font-weight: bold;
	line-height: 100%;
	letter-spacing: 1px;
	padding: 0;
	margin: 0;
}

.backtop{
	position: fixed;
	bottom: 5vw;
	right: 5vw;
	width: 13.3vw;
	height: 13.3vw;
}